/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Generics */
body {
  font-family: sans-serif;
}

/* Utils */

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.flex.row-reverse {
  flex-direction: row-reverse;
}

.debug .border {
  border: 2px dashed black;
}

.bg-white {
  background-color: white;
}

.bg-gray {
  background-color: lightgray;
}

header {
 background-image: url('../img/jumbo.png');
 background-size: cover;
 color:white;
}

/* # Navbar */

.navbar {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
  
.navbar > * {
  font-size: 14px;
  flex-basis: 4%;
}

.navbar-menu {
  flex-grow: 1;
  text-align: center;
}
  
.navbar-actions {
  text-align: center;
  background-color: white;
  color: black;
  font-weight: bold;
  font-size: 11px;
  width: 60px;
  padding: 9px;
  border-radius: 20px;
}
  
.navbar-menu a{
  text-decoration: none;
  color: white;
  margin: 0 10px;
}


/* # Jumbotron */

.jumbotron {
  padding: 50px;
  height: 500px;
  display: flex;
  justify-content: center;
}
  
  
.jumbotron .content {
  width: 50%;
  text-align: center;
  /* height: 100%; */
  /* margin: 0 auto; */
}
  
.content h1 {
  font-size: 45px;
  margin-bottom: 35px;
}
  
.content p {
  margin-top: 10px;
  font-weight: 600;
}
  
.buttons {
  padding: 35px;
}

.button {
  padding: 14px;
  margin: 0 10px;
  border-radius: 18px;
  font-size: 14px;
  font-weight: 600;
}
  
.button.left {
  color:black;
  background-color: white;
}
  
.button.right {
  color:white;
  background-color: black;
}
  


/* # Main & sections */
section {
  padding: 50px;
  height: 600px;
}

section > .container {
  height: 100%;
}

.flex > .small-col {
  flex-basis: 28%;
  margin: 0 60px;
}
 
  
.flex > .large-col {
  flex-basis: 60%;
}
  

.small-col > h3, .full-col > h3 {
  font-size: 35px;
  margin-top: 30px;
}

.small-col > p , .full-col > p {
  font-size: 15px;
  margin-top: 20px;
}
  
.large-col img {
  width: 500px;
  margin: 0 45px;
}


.flex > .full-col {
  flex-basis: 100%;
  text-align: center;
}
  

.full-col img {
  width: 700px;
}

.full-col h3 {
  margin-bottom: 14px;
}

.full-col p {
  margin-top: 2px;
}
.section-special {
  height: 830px;
}
  
h6 {
  font-size: 20px;
}

.button.last {
  color: white;
  background-color: rgb(168,182,232);
  margin-top: 15px;
}
  
  
  
/* # Footer */

footer {
  padding: 50px;
  background-color: #23272a;
  color: white;
}

.footer-top {
  height: 400px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid rgb(168,182,232);
  display: flex;
}

.footer-top .footer-left {
  flex-basis: 30%;
}
  
.footer-top .footer-right {
  flex-basis: 70%;
}


.footer-nav {
  height: 100%;
  display: flex;
}
  

.footer-nav > div {
  flex-basis: 25%;
}
  

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
  
.footer-bottom > * {
  padding: 0 10px;
}
 
.footer-left > h3 {
  font-size: 30px;
  margin-top: 3px;
  margin-bottom: 20px;
  color: rgb(110,132,210);
}

.footer-left img {
  width: 25px;
}

#italian {
  font-size: 11px;
  padding: 5px;
}

.icons {
  margin: 20px 0;
}

.special-icons {
  margin: 0 10px;
}

li {
  list-style-type: none;
  margin-bottom: 12px;
}
  
a {
  text-decoration: none;
  color: white;
}

ul li:first-child a{
  color: rgb(110,132,210);
}

.nav-col {
  margin-top: 10px;
}

.footer-bottom img {
  width: 110px;
}

button {
  border: currentColor;
  background-color: rgb(168,182,232);
  color: white;
  font-weight: bold;
  font-size: 10px;
  width: 65px;
  height: 25px;
  border-radius: 20px;
}






 






  
